{% extends "base.html"%}

{% block content %}
{% if not request.user.is_authenticated %}
<div class="d-flex justify-content-center">
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
        <div class="mb-3">
            <label for="floatingInput">Username</label>
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="floatingPassword">Password</label>
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        </div> {% endcomment %}
        <div class="w-100">
            <button type="submit" class="btn btn-primary mb-3">Login</button>
        </div>
        <p>Need an account? Please <a href="/register">Register</a>.</p>
    </form>
</div>
{% else %}
    <p>You're already logged in. Would you like to <a href="/logout">logout</a>?</p>
{% endif %}
{% endblock content %}